body{
   background-color: black;
   margin: 0px;
   font-family: monospace;
}

.header
{
   /* background-color: black; */
   
   width: 100%;
   height: 100px;
   border-bottom: 3px #32b9cd solid;
   align-items: center;
}

.titulo {
   margin: 0;
   color: #32b9cd;
  /* border: 3px solid yellow; */
}

.container{
   width: 80%; 
   margin: auto;
   display: flex;

}

.header .container
{
   height: 100%;
   justify-content: space-between;
   align-items: center;
   /* width: 80%; */
   /* display: flex; */
   /*border: 3px solid red;*/
}

.navbar{
   width: 500px;
   list-style: none;
   align-items: center;
   justify-content: space-between;
   display: flex;
   color: orange;
   display: flex;
   padding: 0;
   /* border: 3px solid green; */
}
.home{
   height: 500px;
   background-image: url("bg-jelly-fish-para-home.png");
}
/* começo do banner*/

.banner {
   height: 500px;
   background-image: url("bg-jelly-fish-para_outras_pags.png");
   background-size: cover;
}

.banner .card{
 background-color: aliceblue;
 height: 550px;
 width: 400px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 margin: auto;
 margin-top: 40px;
 border-radius: 30px;

}

.btn{
   font-family: monospace;
   margin-top: 10px;
   border: 0;
   font-weight: 600;
   background-color: #a72429;
   color: white;
   font-size: 18px;
   border-radius: 4px;
   padding: 10px 15px;
}

input{
   height: 30px;
   border: 2px solid #a72429;
   border-radius: 4px;
}

.banner .card {
   color: #a72429;
}